<div class="item">
  <a href="{{ store.url }}/admin/themes/options/{{ theme.id }}">
    <img src="//assets.jumpseller.com/public/placeholder/themes/simple/logo-2.png" class="w-100 lazy">
  </a>
</div>
<div class="item">
  <a href="{{ store.url }}/admin/themes/options/{{ theme.id }}">
    <img src="//assets.jumpseller.com/public/placeholder/themes/simple/logo-3.png" class="w-100 lazy">
  </a>
</div>
<div class="item">
  <a href="{{ store.url }}/admin/themes/options/{{ theme.id }}">
    <img src="//assets.jumpseller.com/public/placeholder/themes/simple/logo-4.png" class="w-100 lazy">
  </a>
</div>
<div class="item">
  <a href="{{ store.url }}/admin/themes/options/{{ theme.id }}">
    <img src="//assets.jumpseller.com/public/placeholder/themes/simple/logo-5.png" class="w-100 lazy">
  </a>
</div>

