<div class="product-block {% if options.product_block_2_columns %}mb-md-3 mb-2{% else %}mb-3{% endif %} p-md-3 p-2 rounded trsn" data-productid="{{ prod.id }}">
  <div>
    <a href="{{ prod.url }}" class="product-image d-block {% if prod.status == 'not-available' or prod.stock == 0 and prod.stock_unlimited == false %}not-available{% endif %}">
      {% unless options.disable_shopping_cart %}
        {% if prod.stock == 0 and prod.stock_unlimited == false %}
        <span class="badge badge-secondary status-tag">{% t "Sold out" %}</span>
        {% elsif prod.status == 'not-available' %}
        <span class="badge badge-secondary status-tag">{% t "Not Available" %}</span>
        {% endif %}
      {% endunless %}

      {% unless prod.discount == 0 or options.disable_prices %}
      <span class="badge status-tag sale">{{ options.sale_tag_text }} -{{ prod.discount | divided_by: prod.price | times: 100 | round: 0 }}&percnt;</span>
      {% endunless %}

      {%- capture image_size_1x %}{% if options.pb_image_size == "square" %}263x263{% else %}263x368{% endif %}{% endcapture -%}
      {%- capture image_size_2x %}{% if options.pb_image_size == "square" %}526x526{% else %}526x736{% endif %}{% endcapture -%}
      {% assign has_colors = false %}{% for option in prod.options %}{% if option.type == 'color' %}{% assign has_colors = true %}{% endif %}{% endfor %}
      <div class="main-product-image mb-2">
        {% if prod.images == empty %}
          {% if options.pb_image_size == "square" %}
          <img class="img-fluid lazyload img-portfolio img-hover" src="//assets.jumpseller.com/public/placeholder/themes/simple/placeholder_square.jpg" alt="{{ prod.name | escape }}">
          {% else %}
          <img class="img-fluid lazyload img-portfolio img-hover" src="//assets.jumpseller.com/public/placeholder/themes/simple/placeholder_vertical.jpg" alt="{{ prod.name | escape }}">
          {% endif %}
        {% elsif prod.images.size > 1 and has_colors and options.show_color_options %}
          <div class="carousel slide product-block-carousel" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item carousel-default-item active">
                <img
                  class="img-fluid lazyload"
                  src="{{ prod.images.first | resize: image_size_1x }}"
                  srcset="{{ prod.images.first | resize: image_size_1x }} 1x, {{ prod.images.first | resize: image_size_2x }} 2x"
                  title="{{ prod.name | escape }}"
                  alt="{{ prod.name | escape }}"
                />
              </div>
              {% for option in prod.options %}{% if option.type == 'color' %}
                {% for value in option.values limit: 10 %}{% if value.image != blank %}
                  <div class="carousel-item" data-color-option-value="{{ value.id }}">
                    <img
                      class="img-fluid lazyload"
                      src="{{ value.image | resize: image_size_1x }}"
                      srcset="{{ value.image | resize: image_size_1x }} 1x, {{ value.image | resize: image_size_2x }} 2x"
                      title="{{ prod.name | escape }} - {{ value.name | escape }}"
                      alt="{{ prod.name | escape }} - {{ value.name | escape }}"
                    />
                  </div>
                {% endif %}{% endfor %}{% break %}
              {% endif %}{% endfor %}
            </div>
          </div>
        {% else %}
          <img class="img-fluid lazyload img-portfolio" src="{{ prod.images.first | resize: image_size_1x }}" srcset="{{ prod.images.first | resize: image_size_1x }} 1x,{{ prod.images.first | resize: image_size_2x }} 2x" alt="{{ prod.name | escape }}" />
          {% if prod.images.size > 1 %}
            <img class="img-fluid lazyload img-portfolio image-hover" src="{{ prod.images[1] | resize: image_size_1x }}" srcset="{{ prod.images[1] | resize: image_size_1x }} 1x,{{ prod.images[1] | resize: image_size_2x }} 2x" alt="{{ prod.name | escape }}" />
          {% endif %}
        {% endif %}
      </div>
    </a>

    <div class="caption">
      <div class="brand-name small trsn">
        {% if options.show_brand and prod.brand != blank %}<span class="brand">{{ prod.brand }}</span>{% endif %}
        <h4 class="pb-2"><a href="{{ prod.url }}">{{ prod.name }}</a></h4>
      </div>

      {% if options.pp_reviews and prod.reviews.count > 0 %}
        <div class="d-flex product-block-rating-container mb-1">
          {% render 'product_rating', prod: prod %}
        </div>
      {% endif %}

      {% if has_colors and options.show_color_options %}{% for option in prod.options %}{% if option.type == 'color' %}
      <div class="color-swatch">
        {% assign swatch_limit = 7 %}{% assign swatch_group = random.hex %}
        <fieldset class="field-group colors">
          {% for value in option.values limit: swatch_limit %}
            <div class="color-option">{% assign label_group = random.hex %}
              <input type="radio" name="{{ swatch_group }}" value="{{ value.id }}" id="{{ label_group }}" onclick="updateCarouselFromSwatch(this)" />
              <label title="{{ value.name }}" for="{{ label_group }}" style="background-color: {{ value.custom }}"></label>
            </div>
          {% endfor %}
          {% if option.values.size > swatch_limit %}
            <a href="{{ prod.url }}" style="color:black" class="color-option-plus" title="{% t 'See more' %}">+</a>
          {% endif %}
        </fieldset>
      </div>
      {% break %}{% endif %}{% endfor %}{% endif %}

      {% unless options.disable_prices %}
      <div class="list-price">
        {% if prod.discount > 0 %}
        {% if options.from_prices and prod.variants_min_price != prod.variants_max_price %}<span class="from_price">{% t "From" %} </span>{% endif %}
        <span class="product-block-normal sale-color">{{ prod.price | minus: prod.discount | price }}</span>
        <span class="product-block-discount text-muted">{{ prod.price | price }}</span>
        {% else %}
        {% if options.from_prices and prod.variants_min_price != prod.variants_max_price %}<span class="from_price">{% t "From" %} </span>{% endif %}
        <span class="product-block-list">{{ prod.price | price }}</span>
        {% endif %}
      </div>
      {% endunless %}
    </div>
  </div>

  {% if options.show_add_to_cart and options.disable_shopping_cart != true %}
    <div class="mt-2 trsn btn_container">
      {% if prod.stock == 0 and prod.stock_unlimited == false %}
      <a class="btn btn-outline-dark btn-block disabled" href="{{ prod.url }}">{% t "Sold out" %}</a>
      {% elsif prod.status == 'not-available' %}
      <a class="btn btn-outline-dark btn-block disabled" href="{{ prod.url }}">{% t "Not Available" %}</a>
      {% elsif prod.options != empty %}
      <a class="btn btn-primary btn-block" href="{{ prod.url }}">{% t "View Options" %}</a>
      {% else %}
      <form action="{{ prod.add_to_cart_url }}" method="post" enctype="multipart/form-data" name="buy">
        <div class="row adc-form no-gutters product-stock">
          <div class="{% if options.product_block_2_columns %}col-sm-8{% else %}col-8{% endif %}">
            <div class="quantity {% if options.product_block_2_columns %}mr-md-2{% else %}mr-2{% endif %}">
              <div class="product-qty">
                <div class="quantity-nav quantity-button quantity-down" onclick="decrementCartFromProductBlock(this)">-</div>
                <input type="number" class="form-control text-center" name="qty" min="0" value="1" {% unless prod.stock_unlimited %}max="{{ prod.stock }}"{% endunless %} onchange="verifyAddToCartQuantity(this)"/>
                <div class="quantity-nav quantity-button quantity-up" onclick="incrementCartFromProductBlock(this)">+</div>
              </div>
            </div>
          </div>
          <div class="{% if options.product_block_2_columns %}col-sm-4{% else %}col-4{% endif %}">
            {% if options.display_cart_notification %}
            <button type="button" onclick="addToCartFromProductBlock(this)" class="btn btn-primary btn-block mt-2 mt-sm-0 text-truncate" value="{% t 'Add to Cart' %}" ><i class="ph ph-shopping-cart"></i></button>
            {% else %}
            <button type="submit" class="btn btn-primary btn-block mt-2 mt-sm-0 text-truncate" value="{% t 'Add' %}" ><i class="ph ph-shopping-cart"></i></button>
            {% endif %}
          </div>
        </div>
      </form>
      {% endif %}
    </div>
  {% endif %}
</div>
