{{ index_for_top_components }}

<script>
  $('.dropdown-filter').click(function(){
    $(this).toggleClass('show');
  });
</script>
<div class="container category mt-lg-0 mb-5" >
  <div class="row">
    <div class="col-12 mb-4" {% if category.images.size != 0 %}style="background-image:url('{{ category.images.first }}'); background-size:cover; background-repeat:no-repeat{% endif %}">
      <h1 class="page-header">{{ category.name }}</h1>
    </div>

    <h2 class="col-12 category-description">
      {{ category.description | newline_to_br }}
    </h2>
  </div>

  {% if category.products == empty and filters == empty %}
  <section class="col-md-8 offset-md-2 text-center">
    <div class="card">
      <div class="card-body">
        <h5>{% t "There aren't any products available in this category" %}.</h5>
        <p>{% t "Try searching" %} {% t "again or keep shopping by clicking on the button below" %}.</p>
        <a href="{{ store.url }}" class="btn btn-secondary" title="&larr; {% t 'Go back & Keep Shopping' %}">&larr; {% t "Go back & Keep Shopping" %}</a>
      </div>
    </div>
  </section>
  {% else %}

  {% paginate category.products by options.products_category_limit %}
  <div class="row">
    <!-- filter mobile -->
    <div class="col-6 d-md-none">
      <div class="row justify-content-between mt-2">
        <div class="col-12 product-qty">
          <strong>{{ paged.total }} {% t "Product(s)" %}</strong>
        </div>
      </div>
    </div>
    <div class="col-6 d-md-none">
      <button id="show_filters" type="button" class="btn btn-outline-secondary btn-filter btn-block my-0 mb-3 d-md-none">
        <i class="ph ph-sliders"></i> {% t "Filters" %} <span class="badge badge-light"></span>
      </button>
    </div>
    <!-- end filter mobile -->
    <div class="col-md-3">
      {% render 'category_filter' %}
    </div>
    <div class="col-md-9">
      <div class="row justify-content-between mb-4 mb-md-0">
        <div class="col-md-5 product-qty d-none d-md-block">
          <strong>{{ paged.total }} {% t "Product(s)" %}</strong>
        </div>

        <div class="col-lg-6 col-md-6 d-none d-md-block">
          {% if category.products != empty %}
          <div class="form-group row mb-md-2 pb-md-1">
            <label class="col-sm-12 col-md-4 col-form-label col-form-label-sm text-md-right">{% t "Sort by" %}:</label>
            <div class="col-sm-12 col-md-8">
              <div class="field-group">
                <select class="select form-control form-control-sm" onchange="window.location.href = this.value">
                  {% for sorting_option in category.sorting_options %}
                  <option {% if sorting_option.selected %}selected="selected"{% endif %} value="{{ sorting_option.url }}">{{ sorting_option.text }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="row mb-md-5 mb-4 mx-md-n2 {% if options.product_block_2_columns %}mx-n1{% endif %} no-gutters">
        {% for prod in paged.products %}
        <div class="col-lg-4 {% if options.product_block_2_columns %}col-6 px-md-2 px-1{% else %}col-sm-6 px-2{% endif %} mb-3">
          {% render 'product_block', prod: prod %}
        </div>
        {% endfor %}
        {% if filters != empty and paged.total == 0 %}
        <section class="col-12 text-center px-2">
          <div class="card">
            <div class="card-body">
              <h5>{% t "There aren't any products available with the selected filters" %}.</h5>
              <a href="#" class="all mt-4 btn btn-secondary" title="{% t 'Clear filters' %}" onclick="window.location = window.location.href.split('?')[0];">
                {% t "Clear filters" %}
                <i class="ph ph-eraser"></i>
              </a>
            </div>
          </div>
        </section>
        {% endif %}
        {% render 'pagination', paged: paged %}
      </div>
    </div>
  </div>
  {% endpaginate %}
  {% endif %}
</div>

{{ index_for_components }}

{{ index_for_bottom_components }}
