{%- capture product_display_type -%}
{%- if component.options.display == 'slider' %}product-slider featured-reviews owl-carousel{% else %}row{% endif %}
{% endcapture %}
{%- capture product_display_grid -%}
{% if component.options.display == 'slider' %}item{% else %}col-lg-4 col-md-6 col-12 mb-3{% endif %}
{% endcapture %}
<div class="container py-5">
  <h2 class="block-header text-center">{{ component.options.title }}</h2>
    <div class="{{ product_display_type }}">
      {% for review in store.featured_reviews limit: component.options.limit %}
        <div class="{{ product_display_grid }}">
          <div class="featured-review border rounded p-4 h-100 {{ component.options.alignment }}">
            <i class="ph-fill ph-quotes"></i>
              <div class="featured-review_header">
                {% if component.options.image %}
                  <a href="{{ review.product.url }}" class="featured-review_image-container border">
                    <img src="{{ review.product.images.first | thumb: '50x50' | default: '//assets.jumpseller.com/public/placeholder/themes/simple/placeholder-130x130.png' }}" alt="{{ review.product.name }}" class="w-100">
                  </a>
                  {% endif %}
                  <div>
                    <a href="{{ review.product.url }}"><strong>{{ review.product.name }}</strong></a>
                    {% render 'product_rating', prod: review.product %}
                  </div>
              </div>
              <div class="featured-review_review">{{ review.review }}</div>
              <div class="featured-review_name">{{ review.customer_name }}</div>
              {%- if component.options.date %}
              <div class="featured-review_date">{{ review.date | date: component.options.date_format }}</div>
              {% endif %}
          </div>
        </div>
      {% else %}
        {% render "placeholder_product_reviews" %}
      {% endfor %}
    </div>
</div>
{% if component.options.display == 'slider' %}
  <script>
    $('#component-{{ component.id }} .product-slider').owlCarousel({
      loop:false,
      margin:30,
      navText: ["<i class='ph ph-caret-left'></i>", "<i class='ph ph-caret-right'></i>"],
      nav:true,
      dots: false,
      thumbs: false,
      responsive:{
        0:{
          items:1
        },
        768:{
          items:2
        },
        991:{
          items:3
        },
        1200:{
          items:4
        }
      }
    })
  </script>
{% endif %}
