<div id="text-block-{{ component.id }}" class="container {{ component.options.alignment }} {{ component.options.spacing }}">
  <h2 class="block-header">{{ component.options.title }}</h2>
  <p>{{ component.options.text }}</p>
</div>