<div class="container cart checkout my-5 p-0">
  <!-- Page Heading -->
  <!-- Checkout Container -->
  <div class="row no-gutters checkout-container">
    <div class="col-12">
      <div class="cart-header text-center mb-5">
        <a href="{{ store.url }}" title="{{ store.name }}" class="logo d-block">
          {% if store.logo != empty %}
            <img src="{{ store.logo }}" class="store-image" alt="{{ store.name }}">
          {% else %}
            <span class="navbar-brand">{{ store.name }}</span>
          {% endif %}
        </a>
        <ul class="list-inline cart-steps py-3 mt-4 m-0 border-bottom border-top">
          <li class="list-inlie-item">
            <a href="{{ store.url }}/cart" title="{% t 'Cart' %}">{% t "Cart" %}</a>
          </li>
          <li class="list-inlie-item bullet"><img src="//assets.jumpseller.com/public/placeholder/themes/simple/bullet.png"></li>
          <li class="list-inlie-item active">{% t "Checkout" %}</li>
          <li class="list-inlie-item bullet"><img src="//assets.jumpseller.com/public/placeholder/themes/simple/bullet.png"></li>
          <li class="list-inlie-item">{% t "Order review" %}</li>
          <li class="list-inlie-item bullet"><img src="//assets.jumpseller.com/public/placeholder/themes/simple/bullet.png"></li>
          <li class="list-inlie-item">{% t "Success" %}</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-8 pr-lg-4">
      {{ checkout_form }}
      {% if store.currencies_codes.size > 1 %}
        <p style="text-align: center; font-size: smaller; font-style: italic;">
          {% t "Payment will be processed in %{store_currency} at the current exchange rate", store_currency: store.currency_code %}
        </p>
      {% endif %}
    </div>
    <div class="col-lg-4">
      <div class="card cart-totals">
        <div class="card-body">
          <h2 class="card-title">{% t "Order review" %}</h2>
          <table class="table products">
            {% for ordered_product in order.products %}
              <tr>
                <td colspan="1" class="text-left">
                  <a href="{{ ordered_product.url }}" class="trsn" title="{{ ordered_product.name | escape }}">
                    <img
                      src="{{ ordered_product.image | resize: '50x50' | default: '//assets.jumpseller.com/public/placeholder/themes/simple/no-image-cart.png' }}"
                      alt="{{ ordered_product.name | escape }}"
                      title="{{ ordered_product.name | escape }}"
                    >
                  </a>
                </td>
                <td>
                  <h3>{{ ordered_product.name }}</h3>
                  {% for option in ordered_product.options %}
                    <span>{{ option.name }}: {{ option.value }}</span>
                  {% endfor %}
                </td>

                <td colspan="1" class="text-right">
                  <span class="order-product-subtotal">
                    {{- ordered_product.qty }} x
                    <span class="prod-value">
                      {% if ordered_product.discount > 0 %}
                        {{ ordered_product.price | minus: ordered_product.discount | price }}
                      {% else %}
                        {{ ordered_product.price | price }}
                      {% endif %}
                    </span>
                  </span>
                </td>
              </tr>
            {% endfor %}
          </table>
          <table class="table review">
            {% if order.subtotal %}
              <tr class="totals">
                <td colspan="1" class="text-left">{% t "Subtotal" %}</td>
                <td colspan="1" class="text-right">{{ order.subtotal | price }}</td>
              </tr>
            {% endif %}

            {% if order.shipping > 0 %}
              <tr class="totals">
                <td colspan="1" class="text-left">{% t "Shipping" %}</td>
                <td colspan="1" class="text-right">{{ order.shipping | price }}</td>
              </tr>
            {% endif %}

            {% if order.discount > 0 %}
            <tr class="totals">
              <td colspan="1" class="text-left">{% t "Discount" %}</td>
              <td colspan="1" class="text-right">-{{ order.discount | price }}</td>
            </tr>
            {% endif %}

            {% if order.applied_tax > 0 %}
            <tr class="totals">
              <td colspan="1" class="text-left">{% t "Tax" %}</td>
              <td colspan="1" class="text-right">{{ order.applied_tax | price }}</td>
            </tr>
            {% endif %}

            <tr class="totals key">
              <td colspan="1" class="text-left">
                <strong>{% t "Total" %}</strong>
              </td>
              <td colspan="1" class="text-right">
                <strong>{{ order.total | price }}</strong>
              </td>
            </tr>

            {% if order.remaining_for_free_shipping_message != blank %}
            <tr class="totals">
              <td colspan="2" class="p-0">
                <div class="alert alert-success p-2 m-0 mt-3">
                  <i class="ph ph-truck"></i> {{ order.remaining_for_free_shipping_message }}
                </div>
              </td>
            </tr>
            {% endif %}
          </table>

          <div class="cart-actions text-center">
            <input
              type="submit"
              value="{% t 'Review order' %}"
              class="btn btn-block btn-primary"
              id="submit_review_order_2"
            >
            <ul class="list-inline small mb-0 mt-2">
              <li class="list-inline-item">
                <a href="{{ store.url }}/cart" title="{% t 'Edit Cart' %}">{% t 'Edit Cart' %}</a>
              </li>
              <li class="list-inline-item">|</li>
              <li class="list-inline-item">
                <a href="{{ store.url }}" title="{% t 'Continue Shopping' %}">{% t 'Continue Shopping' %}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("submit_review_order_2").addEventListener("click", function () {
    document.getElementById("submit_review_order").click();
  });
</script>

<script>
  {% if order.shipping_required %}
  <!-- Estimate shipping values on the checkout page -->
    function cleanEstimates(){
      // remove all prices and errors
      $('#shipping_options li').each(function(){ $(this).children().last().detach(); });

      // add empty messages - placeholders
      $('#shipping_options li').each(function(){ $(this).append('<span></span>') });
    }

  function shippingEstimates(){
    cleanEstimates();
    if($('#order_shipping_address_country').val() != "" && $('#order_shipping_address_region').val() != ""){
      $.ajax({
        method: "POST",
        url: "/checkout/shipping_estimate",
        data: {
          estimate: {
            country: $('#order_shipping_address_country').val(),
            region: $('#order_shipping_address_region').val(),
            municipality: $('#order_shipping_address_municipality').val(),
            postal: $('#order_shipping_address_postal').val(),
            city: $('#order_shipping_address_city').val(),
            address: $('#order_shipping_address_address').val(),
          }
        }
      }).done(function( data ) {
          for(var i = 0; i < data.length; i++) {
            let shipping_method = $('#shipping_options #order_shipping_method_' + data[i].table.id);

            // remove any previous messages & placeholders
            shipping_method.parent().children().last().detach();

            if(data[i].table.error){
              // disable options with errors
              shipping_method.attr('disabled', 'disabled');
              shipping_method.prop('checked', false);

              // add error messages
              shipping_method.parent().append("<p class='shipping_information'><i>" + data[i].table.error_message + "</i></p>")
            } else {
              // enable options
              shipping_method.attr('disabled', false);
              if($("#shipping_options").find("input[type='radio']:checked").not("[disabled]").length == 0) { shipping_method.prop('checked', true); }

              let finalPrice = data[i].table.price;
              let priceMessage = data[i].table.shipping_method_type == "cash_on_delivery" ? data[i].table.message : finalPrice;

              // add formatted shipping prices
              shipping_method.parent().append("<p class='shipping_information'><i>" + priceMessage + "</i></p>")
            }

          }
          // Disable Review Order Button if Invalid Shipping Method
          function CheckShippingMethods(){
            if($("#shipping_options").find("input[type='radio']:checked").not("[disabled]").length > 0) {
              $("#submit_review_order_2").prop("disabled", false );
            }
            else {
              $("#submit_review_order_2").prop("disabled", true);
            }
          }
          $(document).ready(CheckShippingMethods);
          $("#shipping_options input[type='radio']").on('change', CheckShippingMethods);
  		 });
      } else {
        // no Country or Region filled, clear shipping estimate info
        cleanEstimates();
      }
    }

    /* LISTENERS */

    var debounceTimer = null; // so it does only a single request instead of lots of them.

    $('#order_shipping_address_country, #order_shipping_address_region, #order_shipping_address_municipality, #order_shipping_address_city, #order_shipping_address_postal, #order_shipping_address_address').change(function(){
      clearTimeout(debounceTimer);
      debounceTimer = setTimeout(function(){
        shippingEstimates();
      }, 300);
   });

   // END OF LISTENERS

   $(document).ready(function(){
     // add empty messages - placeholders
     $('#shipping_options li').each(function(){ $(this).append('<span></span>') });
     shippingEstimates();
   })
   {% else %}
   $(document).ready(function(){
     $('#payments').removeClass("col-md-6").addClass("col-12");
   })
  {% endif %}
</script>

<script>
  // Fixed sidebar
  $(document).ready(function () {
    var top = $('.cart-totals .cart-actions').offset().top;
    $(window).scroll(function (event) {
      var y = $(this).scrollTop();
      if (y >= top)
        $('.cart-totals .cart-actions').addClass('fixed');
      else
        $('.cart-totals .cart-actions').removeClass('fixed');
      $('.cart-totals .cart-actions').width($('.cart-totals .cart-actions').parent().width());
    });
  });
</script>

<script>
// Define all codes from many promotions
const coupons = ["CURIOSOS", "INQUIETOS", "FANATICOS"]

// Callback that searches intersections between the codes in cart and the promotional codes.
// If they intersect, all coupons will be added.

var callbackFunction = function(data) {
   cart_coupons = data.coupons
   cart_coupons = cart_coupons.split(',');

   if (cart_coupons.filter(x => coupons.includes(x))) {
       $(#pi650140).remove()
   }

};
$(document).ready(function() {
// Call the function on document load
   Jumpseller.getCart({
       callback: callbackFunction
   })

});
</script>

